.row {
  margin: 5em auto 5em auto;
}
body {
  background-size: contain;
  background-image: url("store.jpg");
  background-position: center;
  /* font-family: "Annai MN"; */
  font-family: "DIN Alternate";
}
div.for_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container {
  background-color: white;
  opacity: 0.96;
  border-radius: 12px;
  margin: 50px;
}

div.container h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.navbar-brand {
  font-size: 25px;
}

div.coke {
  margin: 50px;
  padding: 50px;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  opacity: 0.97;
}

.coke_chart {
  padding: 30px;
}

.icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(convenience-store.png);
  margin: 10px;
}
